
body{

background-color: black;

}



h2{
    color: lightskyblue;
    font-family: 'Permanent Marker', cursive;
    
}
p{
    color: linen;
    font-family: 'Permanent Marker', cursive;
    line-height: 3;
    font-size: 20px;
}
img{
    width:400px ;
    height: 300px;
}

.image_div{
   
    padding: 30px;
    margin: 20px;
   
}

.intro{
    padding-top: 0%;
    width: 50%;
  float: left;
  margin:60px 20px auto 10px;
  
   
}
.imge{


width: 50%;
height: 300px;
margin-left: 55%;

    
}
    
.mid{
    
    padding: 50px;
   margin: 30px;
  width: 50%;
    height: 900px;

   

}
.in{
  margin-top: 0%;
   margin-left: 50%;
   position:absolute;
   
   padding: 20px;
   float: right;
   
   
   
    
}


a{
    color:rgb(34, 209, 209);
    margin: 30px;
    text-decoration: lime;

}
a:hover{
    color:plum;
}
h4{
    color:rgb(14, 174, 214);
}